name: CI
on:
  push:
      branches: [ "main" ]
jobs:
  build:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0

      - name: dotnet test
        run: dotnet test --configuration Release

      - name: dotnet publish
        run: dotnet publish src/GitHubActionsDotNet.Api/GitHubActionsDotNet.Api.csproj --configuration Release -o artifacts

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with: 
          name: action-artifact
          path: artifacts/

  Deploy_dev:
    name: deploy dev
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: download artifact
        uses: actions/download-artifact@v4
        with: 
          name: action-artifact
          path: artifacts/

      - name: deploy web apps artifacts
        uses: azure/webapps-deploy@v2
        with: 
          app-name: app-actionlearn-dev-europecentralspain-001
          package: artifacts/
